<table width="100%">
	<caption>
		<font class="ome_header_title"><!-- TMPL_VAR NAME='_title' --></font> 
	</caption>
	<tr>
		<td valign="top">
			<table>
				<caption>
					<font class="ome_header_title"><!-- TMPL_VAR NAME='_title' --></font> 
				</caption>
				<tr>
					<td align="left">
						<nobr>
							Id: <!-- TMPL_VAR Name='id' -->,
						</nobr>
						<nobr>
							Owner: <!-- TMPL_VAR NAME=owner -->,
						</nobr>
						<nobr>
							Group: <!-- TMPL_VAR NAME=group -->,
						</nobr>
					</td>
				</tr>
				<tr>
					<td>
						Name: <INPUT TYPE="text" NAME="name" VALUE="<!-- TMPL_VAR NAME=name -->" SIZE=40>
					</td>
				</tr>
				<tr>
					<td>
						Description:<br>
						<textarea name="description" rows="5" cols="50"><!-- TMPL_VAR NAME='description' --></textarea>
					</td>
				</tr>
				<tr>
					<td align='right'>
						 <table cellpadding="3" class="ome_table">
							<tr>
								<td style="background-color: #D1D7DC">
									<a href="javascript:document.forms[0].action.value='SaveChanges'; document.forms[0].submit();" class="ome_widget">Save Changes</a> | <a href="javascript:openRelationships('OME::Project', 'OME::Dataset', <!-- TMPL_VAR Name='id' -->);" class="ome_widget">Add/Remove Datasets</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td align="right" valign="top">
			<font class="ome_relation_title">Datasets:</font>
				<!-- TMPL_VAR NAME=datasets!ref_list --><br>
		</td>
	</tr>
</table>
