<a href="<TMPL_VAR NAME=/obj_detail_url>" title="<TMPL_VAR NAME=/name>" class="ome_quiet">
	<TMPL_VAR NAME=/name/max_text_length-25>
</a>
<span class="ome_quiet">[<TMPL_VAR NAME=count_datasets> dataset(s)]</span>