/* Default theme for OME Version 2+ */

body {
	background-color: #CCCC99;
}

/* General font families for common tags */
font,th,td,p,input,textarea { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }

/* General formatting for common tags */
hr	{ height: 0px; border: solid #000000 0px; border-top-width: 1px; }

/* Default link formatting */
a { text-decoration: none; font-weight: bold; color: #0000FF}

a:visited { text-decoration: none; color: #0000FF}

a:hover { text-decoration: underline; color: #006699}

/* Some generic style definitions */
.ome_title { font-size: 14px; font-weight: bold; }

.ome_info { color: blue; } 

.ome_error { color: red; }

.ome_footer { font-size: 10px; color: #444444; }

.ome_table { border: 1px #000000 solid; background-color: #000000; }

.ome_td { background-color: #EFEFEF; }

.ome_action_td { background-color: #006699; }

.ome_menu_td { background-color: #E0E0E0; }

/* OME Widgets for submit buttons and menu controls (usually grey on grey) */
/* Classes for <a> and <input> tags */
a.ome_widget {
	text-decoration: none;
	color: #353535;
	font-size: 10px;
	font-weight: bold;
}

a.ome_widget:visited { text-decoration: none; color: #353535 }

a.ome_widget:hover { text-decoration: none; color: #006699; }

input.ome_widget {
	font-size: 10px;
	color: #353535;
	font-weight: bold;
	padding:0px;
	border:0px;
	cursor:pointer;
	background: none;
}

input.ome_widget:hover {
	text-decoration: none;
	color: #006699;
}

/* Image based links */
a.ome_imagelink:hover { color: #FF0000; border-width: 2px; }

/* Popup links */

a.ome_popup { font-size: smaller; font-weight: normal; } 
