/* Default theme for OME Version 2+ */

body {
	background-color: #FFFFFF;
}

/* General font families for common tags */
font,th,td,p,input,textarea { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }

/* General formatting for common tags */
hr	{ height: 0px; border: solid #000000 0px; border-top-width: 1px; }

/* Default link formatting */
a { text-decoration: none; font-weight: bold; color: #0000FF}

a:visited { text-decoration: none; color: #0000FF}

a:hover { text-decoration: underline; color: #006699}

/* Some generic style definitions */
.ome_header_label { font-size: 12px; }

.ome_header_title { font-size: 16px; }

.ome_title { font-size: 14px; font-weight: bold; }

.ome_info { color: blue; } 

.ome_info_strong { color: blue; font-weight: bold; }

.ome_error { color: red; }

.ome_footer { font-size: 10px; color: #444444; }

.ome_table { border: 1px #000000 solid; background-color: #000000; }

.ome_td { background-color: #EFEFEF; padding: 3px; }

.ome_action_td { background-color: #006699; }

.ome_menu_td { background-color: #E0E0E0; }

.ome_menu_title { font-size: 24px; font-weight: bold; }

/* QUIET */
.ome_quiet { font-size: 10px; color: #444444; }

a.ome_quiet { text-decoration: none; color : #444444; }

a.ome_quiet:visited, a.ome_quiet:active { text-decoration: none; color: #444444 }

a.ome_quiet:hover { text-decoration: none; color : #FF0000; }  /* Red is temporary */

/* MAIN LAYOUT TABLE AND TD's */

.ome_page_table { width: 100%; }

.ome_header_td { border: #000000; border-style: solid; border-width: 0px 0px 2px 0px; }

.ome_main_menu_td { border: #000000; border-style: solid; border-width: 0px 2px 0px 0px; }

.ome_location_menu_td { background-color: #D1D7DC; }

/* MAIN MENU STUFF */

td.ome_main_menu_heading { background-color: #6E8489; }
.ome_main_menu_heading { color: #D1D7DC; font-size: 11px; font-weight: bold; }

td.ome_main_menu_link_hover { background-color: #A3A7AB; }  /* JScript rollovers */
a.ome_main_menu_link { text-decoration: none; color: #444444; font-size: 10px; }
a.ome_main_menu_link:visited { text-decoration: none; color: #444444; }
a.ome_main_menu_link:hover { text-decoration: none; color: #FF0000; }  /* Red is temporary */

td.ome_main_menu_link_active { background-color: #444444; }
td.ome_main_menu_link_active_hover { background-color: #444444; }  /* JScript rollovers */
a.ome_main_menu_link_active { text-decoration: none; color: #D1D7DC; font-size: 10px; }
a.ome_main_menu_link_active:visited { text-decoration: none; color: #D1D7DC; }
a.ome_main_menu_link_active:hover { text-decoration: none; color : #FF0000; }  /* Red is temporary */

.ome_main_menu { background-color: #D1D7DC }

/* OME WIDGETS */
.ome_widget {
	text-decoration: none;
	color: #353535;
	font-size: 10px;
	font-weight: bold;
}

a.ome_widget:visited { text-decoration: none; color: #353535 }

a.ome_widget:hover { text-decoration: none; color: #006699; }

input.ome_widget {
	font-size: 10px;
	color: #353535;
	font-weight: bold;
	padding:0px;
	border:0px;
	cursor:pointer;
	background: none;
}

input.ome_widget:hover {
	text-decoration: none;
	color: #006699;
}

/* IMAGE LINKS */
a.ome_imagelink:hover { color: #FF0000; border-width: 2px; }

/* POPUP LINKS */
a.ome_popup { font-size: smaller; font-weight: normal; } 
