<input type="hidden" name="images_to_categorize">
<input type="hidden" name="declassifyImage">
<table>
	<caption>
		<font class="ome_header_title">Category: <TMPL_VAR NAME='Name'></font> 
	</caption>
	<tr>
		<td valign="top">
			<table style=" border: 1px #000000 solid;">
				<tr>
					<td align="left" valign="top" colspan="2">
						<nobr>
							Id: <TMPL_VAR Name='id'>,
						</nobr>
						<nobr>
							Created by: <TMPL_VAR NAME=module_execution>,
						</nobr>
						<nobr>
							Part of Group: <TMPL_VAR Name='CategoryGroup/render-ref'>
						</nobr>
					</td>
				</tr>
				<tr>
					<td>
						Name: <TMPL_VAR NAME='Name'> <nobr>
<!-- [Bug 479] http://bugs.openmicroscopy.org.uk/show_bug.cgi?id=479 -->						
						<!-- Name <INPUT TYPE="text" NAME="name" VALUE="<TMPL_VAR NAME=Name>" SIZE=40> <nobr> -->
					</td>
					<td align=right>
						<table cellpadding="3" class="ome_table">
							<tr>
								<td style="background-color: #D1D7DC">
								<a href="javascript:selectMany('OME::Image', 'images_to_categorize');" class="ome_widget">Add Images</a>
								</td>
								<td style="background-color: #D1D7DC">
								<a href="serve.pl?Page=OME::Web::DBObjCreate&Type=@Category&CategoryGroup=<TMPL_VAR NAME='CategoryGroup/field-id'>" class="ome_widget">Add Another Category</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td colspan='2'>
						Description [ <a href="javascript:document.forms[0].action.value='SaveChanges'; document.forms[0].submit();" class="ome_widget">Save</a> ]<br>
						<textarea name="description" rows="5" cols="60"><TMPL_VAR NAME='Description'></textarea>
					</td>
				</tr>				
			</table>
		</td>
	</tr>
</table>
<!-- imgs_in_category is filled-in by OME/Web/DBObjDetail/__Category.pm -->
<TMPL_IF NAME='imgs_in_category'>
	<font class="ome_relation_title">Images in this category:</font><br>
	<span class='ome_quiet'>Click the upper left quadrant of a thumbnail for image info.<br>Click elsewhere to: </span>
	<nobr><input type="radio" name="thumb_click_opens" value='viewer' checked>Open Image Viewer</nobr>
	<nobr><input type="radio" name="thumb_click_opens" value='declassify'>Declassify Image</nobr
	<br>
	<TMPL_VAR NAME=Images/render-bare_ref_mass>
<TMPL_ELSE>
	<span class='ome_quiet'>(no images in category)</span>
</TMPL_IF>