<font class="ome_header_title">Category: 
	<a href="<TMPL_VAR NAME=/obj_detail_url>" class="ome_detail"><TMPL_VAR NAME='Name'></a>
</font><br>
<font class="ome_relation_title">Images in this category:</font>
<TMPL_VAR NAME=Images/render-ref_mass>
