<TMPL_VAR NAME=/selector>
<font class="ome_header_title">
	<a href="<TMPL_VAR NAME=/obj_detail_url>" class="ome_detail">
		<TMPL_VAR NAME='Name'>
	</a>
</font>
<font class="ome_relation_title">has Images:</font><br>
<TMPL_VAR NAME=Images/render-bare_ref_mass/limit_count-16>
