Chain node 
<a title="<TMPL_VAR NAME=/name>" 
   href="<TMPL_VAR NAME='module_execution/field-/obj_detail_url'>" 
   <TMPL_VAR NAME=class_style>
>
	<TMPL_VAR NAME=analysis_chain_node/field-/name></a>
was executed against <TMPL_VAR NAME=target/render-ref>
as part of analysis chain execution <TMPL_VAR NAME=analysis_chain_execution/render-ref>.
The ID is <TMPL_VAR NAME=id>.