<TMPL_IF NAME=/obj_loop>
	<TMPL_LOOP NAME=/obj_loop>
		<TMPL_VAR NAME=/object/render-ref_map>
	</TMPL_LOOP>
	<TMPL_LOOP NAME=/obj_loop/loop2>
		<TMPL_VAR NAME=/object/render-map>
	</TMPL_LOOP>
	<TMPL_IF NAME=/pager_text>
		<a href="<TMPL_VAR NAME=/more_info_url>">...</a>
	</TMPL_IF>
<TMPL_ELSE>
	<span class='ome_quiet'>(no images)</span>
</TMPL_IF>
