<TMPL_IF NAME=/obj_loop>
	<TMPL_LOOP NAME=/obj_loop>
		<TMPL_VAR NAME=/object/render-color_code_ref_map_by_cg>
	</TMPL_LOOP>  
	<TMPL_LOOP NAME=/obj_loop/loop2>
		<TMPL_VAR NAME=/object/render-ref_st_annotation_display>
	</TMPL_LOOP>  
</TMPL_IF>
