<TMPL_IF NAME=/obj_loop/paging_limit-50>
	<TMPL_LOOP NAME=/obj_loop/paging_limit-50>
		<TMPL_VAR NAME=/object/render-ref_map>
	</TMPL_LOOP>
	<TMPL_LOOP NAME=/obj_loop/loop2>
		<TMPL_VAR NAME=/object/render-ref_st_annotation_display>
	</TMPL_LOOP>
<TMPL_ELSE>
	<span class='ome_quiet'>(no images)</span>
</TMPL_IF>
