<!-- TMPL_IF NAME=_obj_loop -->
	<!-- TMPL_IF NAME=_more_info_url -->
		<a href="<!-- TMPL_VAR NAME=_more_info_url -->">More info...</a>
	<!-- /TMPL_IF -->
	<span class='ome_quiet'>Clicking a thumbnail will open:
<input type="radio" name="thumb_click_opens" value='viewer' checked>Image Viewer
<input type="radio" name="thumb_click_opens" value='image_detail' >Image Detail
</span>
<br>
<!-- TMPL_LOOP NAME=_obj_loop -->
		<!-- TMPL_VAR NAME=_ref -->
	<!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->
<b>(none)</b>
<!-- /TMPL_IF -->
