<input name="AddToCG" type="hidden">
<table class="ome_table">
	<TMPL_LOOP NAME=/obj_loop>
		<tr>
			<td class="ome_td" align="left"><TMPL_VAR NAME=/object/render-ref></td>
			<td class="ome_td" align="left">
				<!-- DNFW, this naming convention is used by OME::Web::CategoryGroup_Annotator.
				     If you change this naming convention, you must find & 
				     change the perl code as well. -->
				<SELECT NAME="CategoryGroup<TMPL_VAR NAME='id'>">
					<OPTION value="">Select a Category</option>
					<TMPL_VAR NAME=CategoryList/render-list_of_options>
				</SELECT>
			</td>
			<td class="ome_td" align="left"><input type="text" size="10" name="CategoryAddTo<TMPL_VAR NAME='id'>" alt="blank"></td>
		</tr>
	</TMPL_LOOP>
</table>