<table>
	<!-- TMPL_LOOP NAME="name_value_pairs" -->
	<tr>
		<td valign=top><!-- TMPL_VAR NAME="name" --></td>
		<td valign=top><!-- TMPL_VAR NAME="value" --></td>
	</tr>
	<!-- /TMPL_LOOP -->
</table>
