<table class="ome_table" align="center">
	<caption>
		<font class="ome_header_title"><!-- TMPL_VAR NAME='_title' --></font> 
	</caption>
	<!-- TMPL_LOOP NAME="name_value_pairs" -->
	<tr>
		<td valign=top class="ome_td"><!-- TMPL_VAR NAME="name" --></td>
		<td valign=top class="ome_td"><!-- TMPL_VAR NAME="value" --></td>
	</tr>
	<!-- /TMPL_LOOP -->
</table>
<table>
	<tr>
		<!-- TMPL_LOOP NAME="_relations" -->
			<td valign="top">
				<font class="ome_relation_title"><!-- TMPL_VAR NAME="name" --></font>
				<!-- TMPL_VAR NAME="!ref_list" -->
			</td>
		<!-- /TMPL_LOOP -->
	</tr>
</table>
