<table>
	<caption>
		<font class="ome_header_title">Image Instrument: <TMPL_VAR NAME='id'></font> 
	</caption>
	<tr>
		<td valign="top">
			<table style=" border: 1px #000000 solid;">
				<tr>
					<td align="left" valign="top">
						Instrument: <TMPL_VAR Name='Instrument'>
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						Objective: <TMPL_VAR NAME=Objective>
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						Image: <TMPL_VAR NAME=image>
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						Module Execution: <TMPL_VAR NAME=module_execution>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
