Image was 
<a href="<TMPL_VAR NAME=/obj_detail_url>" title="See Instrument setting used for image acquisition" class="ome_detail">
captured</a> on a <TMPL_VAR Name='Instrument'> with the <TMPL_VAR NAME=Objective> Objective.
