<font class="ome_header_title">
  Experiment Protocol: <TMPL_VAR NAME='Name'>
</font> 
<table>
  <caption align="left">
  </caption>
	<tr>
	  <td align="left">Comments:</td>
	  <td align="left"><TMPL_VAR Name='Comments'></td>
	</tr>

	<tr>
	  <td align="left" valign="top"> Owner:</td>
	  <td align="left"><TMPL_VAR Name='Owner'> </td>
	</tr>

	<tr>
	  <td align="left" valign="top"> Husbandry:</td>
	  <td align="left"><TMPL_VAR Name='Husbandry'> </td>
	</tr>

	<tr>
	  <td align="left" valign="top"> Sample Preparation:</td>
	  <td align="left"><TMPL_VAR Name='SamplePreparation'> </td>
	</tr>


	<tr>
	  <td align="left" valign="top">Developmental Stage</td>
	  <td align="left"><TMPL_VAR Name='DevelopmentalStage'> </td>
	</tr>

	<tr>
	  <td align="left" valign="top">Fluorofor</td>
	  <td align="left"><TMPL_VAR Name='Fluorofor'> </td>
	</tr>

	<tr>
	  <td align="left" valign="top">Strain</td>
	  <td align="left"><TMPL_VAR Name='Strain'> </td>
	</tr>
</table>
