<a href='<TMPL_VAR NAME="/obj_detail_url">' title='Detailed Information about this Pixels attribute' class='ome_detail'>Pixels info</a><br>
<a href='javascript: openPopUpPixels(<TMPL_VAR NAME=id>);' title='View this Pixel set'><img src='<TMPL_VAR NAME=thumb_url>'></a>
