<table>
<tr><td colspan="2" align="center">ID: <!-- TMPL_VAR name=id --></td></tr>
<tr>
	<td><!-- TMPL_VAR name=image --></td>
	<td>X, Y, Z: <!-- TMPL_VAR name=SizeX -->, <!-- TMPL_VAR name=SizeY -->, <!-- TMPL_VAR name=SizeZ --><br>
		Channels: <!-- TMPL_VAR name=SizeC --><br>
		Timepoints: <!-- TMPL_VAR name=SizeT -->
	</td>
</tr>
<tr>
	<td colspan="2">From: <!-- TMPL_VAR name=module_execution --></td>
</tr>
</table>
