<table cellpadding="3" cellspacing="1" border="0" class="ome_table" width="100%">
<tr bgcolor="white">
<td></td><td>Name</td><td>Description</td>
</tr>
<tr bgcolor="white">
	<td>Group Name (required)</td>
	<td valign="top"><input type="text" name="GroupName" size="40" alt="blank"></td>
	<td><textarea name="GroupDescription" rows="3" cols="40"></textarea></td>
</tr>
<tr bgcolor="white">
	<td>Category Name</td>
	<td valign="top"><input type="text" name="CatName1" size="40" alt="blank"></td>
	<td><textarea name="CatDesc1" rows="3" cols="40"></textarea></td>
</tr>
<tr bgcolor="white">
	<td>Category Name</td>
	<td valign="top"><input type="text" name="CatName2" size="40" alt="blank"></td>
	<td><textarea name="CatDesc2" rows="3" cols="40"></textarea></td>
</tr>
<tr bgcolor="white">
	<td>Category Name</td>
	<td valign="top"><input type="text" name="CatName3" size="40" alt="blank"></td>
	<td><textarea name="CatDesc3" rows="3" cols="40"></textarea></td>
</tr>

</table>
<table cellpadding="3" cellspacing="0" width="100%"><tr bgcolor="#E0E0E0">
	<td align="right">
		<button type="submit" id="create" value="create" name="create">Create Group</button>
	</td>
</tr></table>
