<TMPL_IF NAME=/tile_loop/width-3/paging_limit-24>
	<TMPL_VAR NAME=/pager_text>
	<TMPL_IF NAME=/more_info_url>
		<TMPL_IF NAME=/pager_text>|</TMPL_IF>
		<a href="<TMPL_VAR NAME=/more_info_url>">More info about these Categories...</a><br>
		<span class='ome_quiet'>Click the upper left quadrant of a thumbnail to see image info;
		click elsewhere to open image viewer.</span>
	</TMPL_IF>

	<table class="ome_table">
		<TMPL_LOOP NAME=/tile_loop/width-3/paging_limit-24>
			<tr>
				<TMPL_LOOP NAME=/obj_loop>
					<td class="ome_td" valign="top"><TMPL_VAR NAME=/object/render-summary_no_thumbnail_controls></td>
				</TMPL_LOOP>
			</tr>
		</TMPL_LOOP>
	</table>
<TMPL_ELSE>
	<span class='ome_quiet'>(no categories)</span>
</TMPL_IF>
