<TMPL_INCLUDE NAME="ST_Header.tmpl">
<TMPL_VAR
NAME="DetailSTs.load/-[Probe:ImageProbe,EmbryoStage:ImageEmbryoStage]">
<TMPL_VAR NAME="CategoryGroup.load/id=[Test Group,53910]">
<TMPL_INCLUDE NAME="ST_Footer.tmpl">
