<!-- These are the search controls. -->
That match criteria:<br>
	
<TMPL_VAR NAME='*'>
<!-- ADVANCED search -->
<TMPL_VAR NAME=analysis_chain>
<TMPL_VAR NAME=dataset>
<TMPL_VAR NAME=timestamp>
<TMPL_VAR NAME=experimenter>
<TMPL_VAR NAME=id>
