<table><tr><td valign="top">
	<button type="submit" id="Search" name="Search"><span class="ome_header_title">Search</span></button><br><br>
<TMPL_UNLESS NAME=Locked_SearchType>
	Look for:<br>
	<TMPL_VAR NAME=search_types>
<TMPL_ELSE>
	Search For: <TMPL_VAR NAME=Locked_SearchType>
	<input type="hidden" name="Locked_SearchType" value="<TMPL_VAR NAME=formal_name>">
</TMPL_UNLESS>
<hr>
<TMPL_VAR NAME=criteria_controls>
<hr>
<nobr>Display Results as:</nobr><br>
<TMPL_LOOP NAME=modes_loop>
<nobr><input type="radio" name="Mode" value="<TMPL_VAR NAME=mode>" <TMPL_VAR NAME=checked>><TMPL_VAR NAME=mode_title></nobr><br>
</TMPL_LOOP>
<hr>
<TMPL_VAR NAME=do_select>
</td>
<td valign="top" width="100%">
<table>
	<caption>Found <TMPL_VAR NAME=num_results> Results:</caption>
	<tr><td valign="top">
<TMPL_IF NAME=results>
	<TMPL_VAR NAME=results>
<TMPL_ELSE>
	<span class='ome_quiet'>(none)</span>
</TMPL_IF>
	</td></tr>
</table>
</td></tr></table>
