<tr><td class="ome_location_menu_td"><span class="ome_quiet">Home -> Analysis</span></td></tr>
<table><tr><td valign="top">
	<button type="submit" id="Search" name="Search"><span class="ome_header_title">Search</span></button><br><br>
<TMPL_UNLESS NAME=Locked_SearchType>
	Look for:<br>
	<TMPL_VAR NAME=search_types>
<TMPL_ELSE>
	Search For: <TMPL_VAR NAME=Locked_SearchType>
	<input type="hidden" name="Locked_SearchType" value="<TMPL_VAR NAME=formal_name>">
</TMPL_UNLESS>
<hr>
<TMPL_VAR NAME=criteria_controls>
<hr>
<p><a href="<TMPL_VAR NAME=Table_URL>">Save results as table</a></p>
<nobr>Display Results as:</nobr><br>
<TMPL_VAR NAME=availableTemplates>
<hr>
<TMPL_VAR NAME=do_select>
</td>
<td valign="top" width="100%">
<table>
	<tr><td valign="top">
<TMPL_IF NAME=results>
	<TMPL_VAR NAME=results>
<TMPL_ELSE>
	<span class='ome_quiet'>(none)</span>
</TMPL_IF>
	</td></tr>
</table>
</td></tr></table>
