<table><tr><td align="left">
	<TMPL_VAR NAME=field_label>
</td><td align="right">
	<TMPL_VAR NAME=sort_up><img src="/images/up.gif" class="ome_sort_arrows"></a>
	<TMPL_VAR NAME=sort_down><img src="/images/down.gif" class="ome_sort_arrows"></a>
</td></tr>
<tr><td colspan="2">
	<TMPL_VAR NAME=form_field>
</td></tr>
</table>
