<input type="hidden" name="images_to_annotate" value="<TMPL_VAR NAME=image_id_list>">
<input type="hidden" name="currentImageID" value="<TMPL_VAR NAME=current_image_id>">
<input type="hidden" name="SaveAndNext">

<TMPL_VAR NAME=image_large>
<table>
	<tr>
		<td valign="top">
			<TMPL_VAR NAME=catGroupAndCats_list>
		</td>
		<td>
			<input type="button" value='Add Categories' onclick="javascript: document.forms[0].AddToCG.value='Add'; document.forms[0].submit();"><br><br>
			<input type="button" value='Save & Next' onclick="javascript: document.forms[0].SaveAndNext.value='SaveAndNext'; document.forms[0].submit();">
		</td>
	</tr>
</table>
<a href = "javascript:selectMany('OME::Image', 'images_to_annotate');" class="ome_widget">Search for images to annotate</a><br><br>
Images left to annotate:<br>
<TMPL_VAR NAME=image_thumbs><br>