<input type="hidden" name="ConstructPage">
Need a Category Group?
<a href = "javascript:creationPopup('@CategoryGroup', 'ConstructPage');">
Click here to create one.</a><br><br>
<TMPL_VAR NAME=checkbox_and_cg><br>
<a href = "javascript:selectAllCheckboxes( 'selected_objects' );" class="ome_widget">Select All</a> | 
<a href = "javascript:deselectAllCheckboxes( 'selected_objects' );" class="ome_widget">Deselect All</a>
<br><br>
Enter the name of the new template you'd like to create:
<input type="text" size="20" name="TemplateName" alt="blank">
<button type="submit">Create Templates