<tr><td class="ome_location_menu_td"><span class="ome_quiet">Home -> Annotation -> Create a Template</span></td></tr>
<td>
<input type="hidden" name="ConstructPage">
Need a Category Group?
<a href = "javascript:creationPopup('@CategoryGroup', 'ConstructPage');">
Click here to create one.</a><br><br>
<TMPL_VAR NAME=checkbox_and_cg><br>
<br><br>
Enter the name of the new template you'd like to create:
<input type="text" size="20" name="TemplateName" alt="blank">
<button type="submit">Create Templates
</td>
