
<TMPL_IF NAME=previousPage>

Your OME account is not configured to allow access to this page.
Please <A HREF="<TMPL_VAR NAME=previousPage>">return to the previous
page </A>.


<TMPL_ELSE>

Your OME account is not configured to allow access to this page
Please press the &quot;back&quot; button on your browser to continue.


</TMPL_IF>
