<tr><td class="ome_location_menu_td"><span class="ome_quiet">Home</span></td></tr>
<!-- This is the home page for the Web UI. This is used by OME::Web::Home -->
<table cellpadding="3" width="100%" cellspacing="0">

	<tr>
		<td align="center" width="33%" style="border-style: solid; border-width: 0px 0px 2px 0px;">
			<TMPL_IF NAME="image_header"><span class="ome_quiet"><TMPL_VAR NAME=image_header> [<TMPL_VAR NAME=image_count> image(s)]</span>
			<TMPL_ELSE><span class="ome_quiet" style="font-weight: bold;">No Dataset</span>
			</TMPL_IF>
		</td>
		<td align="center" width="33%" style="border-style: solid; border-width: 0px 0px 2px 2px;">
			<span class="ome_quiet"><a href="serve.pl?Page=OME::Web::Search&Type=OME::Project" class="ome_quiet">You have <TMPL_VAR NAME=project_count> project(s)</a></span>
		</td>
		<td align="center" width="33%" style="border-style: solid; border-width: 0px 0px 2px 2px;">
			<TMPL_IF NAME="dataset_header"><span class="ome_quiet">Dataset(s) in <TMPL_VAR NAME=dataset_header> [<TMPL_VAR NAME=dataset_count> dataset(s)]</span>
			<TMPL_ELSE><span class="ome_quiet" style="font-weight: bold;">No Project</span>
			</TMPL_IF>	
	<tr>
		<td width="33%" valign="top" style="border-style: solid; border-width: 0px 0px 2px 0px;">
			<TMPL_IF NAME="images"><TMPL_VAR NAME=images>
			<TMPL_ELSE><span class="ome_quiet">No dataset is available for preview. Click <i>'New Dataset'</i> below to create one.</span>
			</TMPL_IF>
		</td>
		<td align="right" width="33%" valign="top" style="border-style: solid; border-width: 0px 0px 2px 2px;">
			<TMPL_VAR NAME=your_projects>
			<div style="font-weight: bold; text-align: center;" class="ome_quiet">Collaborators' projects</div>
			<hr>
			<TMPL_VAR NAME=others_projects>
		</td>
		<td align="right" width="33%" valign="top" style="border-style: solid; border-width: 0px 0px 2px 2px;">
			<TMPL_IF NAME="datasets"><TMPL_VAR NAME=datasets>
			<TMPL_ELSE><span class="ome_quiet">No project is available for preview. Click <i>'New Project'</i> below to create one.</span>
                        </TMPL_IF>
		</td>
	</tr>
	<tr>
		<td align="right" class="ome_menu_td" colspan="3">
			<a href="serve.pl?Page=OME::Web::DBObjCreate&amp;Type=OME::Project" class="ome_quiet">New Project</a> | 
			<a href="serve.pl?Page=OME::Web::DBObjCreate&amp;Type=OME::Dataset" class="ome_quiet">New Dataset</a> | 
			<a href="serve.pl?Page=OME::Web::ImportImages" class="ome_quiet">Import Images</a> |
			
			<a href="javascript: search('OME::Image', '__order', '!inserted');" class="ome_quiet">Recently Imported Images</a> |
			<a href="javascript: search('OME::AnalysisChainExecution', '__order', '!timestamp');" class="ome_quiet">Recently Executed Chains</a>
		</td>
	</tr>
</table>
<p class="ome_menu_title">Welcome to the Open Microscopy Environment!</p>
<p>Most of your initial tasks with OME will start with this page; the
<em>'Home'</em> page. From here you can create new projects and datasets
as well as import images. For more sophisticated tasks, you can
nativigate to various pages using the menu on the left or using the
links given to you in the previews above. If for some reason you get
lost, you can always return to this <em>'Home'</em> page by clicking the
OME logo in the top-left hand corner of your screen.</p>
<hr>
<p align="center" class="ome_quiet">Copyright © 2006 the OME Project.</p>
