<input type="hidden" name="images_to_annotate" value="<TMPL_VAR NAME=image_id_list>">
<input type="hidden" name="currentImageID" value="<TMPL_VAR NAME=current_image_id>">
<input type="hidden" name="SaveAndNext">
<input type="hidden" name="AddToCG">

<TMPL_VAR NAME=image_large>
<table class="ome_table">
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_1></td>
		<td class="ome_td" align="left"><SELECT name="FromCG<TMPL_VAR NAME='cg_id_1'>"><OPTION value="">Do Not Annotate</option><TMPL_VAR NAME=rendered_cat_1></select></td>
		<td class="ome_td" align="left"><input type="text" size="10" name="CategoryAddTo<TMPL_VAR NAME='cg_id_1'>" alt="blank"></td>
	</tr>
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_2></td>
		<td class="ome_td" align="left"><SELECT name="FromCG<TMPL_VAR NAME='cg_id_2'>"><OPTION value="">Do Not Annotate</option><TMPL_VAR NAME=rendered_cat_2></select></td>
		<td class="ome_td" align="left"><input type="text" size="10" name="CategoryAddTo<TMPL_VAR NAME='cg_id_2'>" alt="blank"></td>
	</tr>
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_3></td>
		<td class="ome_td" align="left"><SELECT name="FromCG<TMPL_VAR NAME='cg_id_3'>"><OPTION value="">Do Not Annotate</option><TMPL_VAR NAME=rendered_cat_3></select></td>
		<td class="ome_td" align="left"><input type="text" size="10" name="CategoryAddTo<TMPL_VAR NAME='cg_id_3'>" alt="blank"></td>
	</tr>
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_4></td>
		<td class="ome_td" align="left"><SELECT name="FromCG<TMPL_VAR NAME='cg_id_4'>"><OPTION value="">Do Not Annotate</option><TMPL_VAR NAME=rendered_cat_4></select></td>			
		<td class="ome_td" align="left"><input type="text" size="10" name="CategoryAddTo<TMPL_VAR NAME='cg_id_4'>" alt="blank"></td>
	</tr>
</table>
<input type="button" value='Add Categories' onclick="javascript: document.forms[0].AddToCG.value='AddToCG'; document.forms[0].submit();">
<input type="button" value='Save & Next' onclick="javascript: document.forms[0].SaveAndNext.value='SaveAndNext'; document.forms[0].submit();"><br>
<a href = "javascript:selectMany('OME::Image', 'images_to_annotate');" class="ome_widget">Search for images to annotate</a><br><br>
Images left to annotate:<br>
<TMPL_VAR NAME=image_thumbs><br>