<TMPL_VAR NAME=image_large>
<table class="ome_table">
	<tr>
		<td class="ome_td" align="left"><center>CategoryGroup</td>
		<td class="ome_td" align="left"><center>Category</td>
	</tr>
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_1></td>
		<td class="ome_td" align="left"><TMPL_VAR NAME=rendered_cat_1></td>
	</tr>
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_2></td>
		<td class="ome_td" align="left"><TMPL_VAR NAME=rendered_cat_2></td>
	</tr>
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_3></td>
		<td class="ome_td" align="left"><TMPL_VAR NAME=rendered_cat_3></td>
	</tr>
	<tr>
		<td class="ome_td" align="left"><TMPL_VAR NAME=cg_name_4></td>
		<td class="ome_td" align="left"><TMPL_VAR NAME=rendered_cat_4></td>			
	</tr>
</table>