<input type="hidden" name="GetThumbs">
<input type="hidden" name="queryMGI">
<table>
	<tr>
		<td valign="top">
			<center><TMPL_VAR NAME=cg_name_1><br>
			<SELECT name="FromCG<TMPL_VAR NAME='cg_id_1'>" onclick="javascript: document.forms[0].GetThumbs.value='GetThumbs'; document.forms[0].submit();" size = "<TMPL_VAR NAME=size_1>">
			<TMPL_VAR NAME=rendered_cat_1></SELECT><br>
			<br>
			<input type="button" value="Query MGI<TMPL_IF NAME=GENE> for <TMPL_VAR NAME=GENE></TMPL_IF>" onclick="javascript: window.open('<TMPL_VAR NAME='MGI_URL'>');"><br>
		</td>
		<td valign="top">
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>
									<center><TMPL_VAR NAME=cg_name_2><br>
									<SELECT name="FromCG<TMPL_VAR NAME='cg_id_2'>" onclick="javascript: document.forms[0].GetThumbs.value='GetThumbs'; document.forms[0].submit();" size = "<TMPL_VAR NAME=size_2>">
									<TMPL_VAR NAME=rendered_cat_2></SELECT><br>
								</td>
								<td>
									<center><TMPL_VAR NAME=cg_name_3><br>
									<SELECT name="FromCG<TMPL_VAR NAME='cg_id_3'>" onclick="javascript: document.forms[0].GetThumbs.value='GetThumbs'; document.forms[0].submit();" size = "<TMPL_VAR NAME=size_3>">
									<TMPL_VAR NAME=rendered_cat_3></SELECT><br>
								</td>
								<td>
									<center><TMPL_VAR NAME=cg_name_4><br>
									<SELECT name="FromCG<TMPL_VAR NAME='cg_id_4'>" onclick="javascript: document.forms[0].GetThumbs.value='GetThumbs'; document.forms[0].submit();" size = "<TMPL_VAR NAME=size_4>">
									<TMPL_VAR NAME=rendered_cat_4></SELECT><br>
								</td>
								<td valign="top">
									<!-- fix this, it's just a hack -->
									<a href = "" class="ome_widget">Deselect All</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td><TMPL_VAR NAME=image_thumbs></td></tr>
			</table>
			
		</td>
	</tr>
</table>