<input type="hidden" name="Annotate">
This bulk annotator can handle mixed CategoryGroup and SemanticType annotation from Excel spreadsheets
and tab-delimited text files.<br>
Be certain your files are in the proper format. See <a href="http://www.openmicroscopy.org/custom-annotations/spreadsheet_importer.html">help</a> for details.<br>
Doing ST global annotation with anything but Category Groups and Categories does not work completely. The annotations will be created in the database, but
they will not show up through the web interface.  Image annotation on ST's works properly.<br><br>

Type the path to the file:<br>
<input type="text" size="55" name="fileToParse" alt="blank"><br>
<input type="button" value='Annotate' onclick="javascript: document.forms[0].Annotate.value='Annotate'; document.forms[0].submit();">
<br><br>
<TMPL_VAR NAME=Output>