<!-- TMPL_IF NAME=_tile_loop -->
	<!-- TMPL_IF NAME=_more_info_url -->
		<a href="<!-- TMPL_VAR NAME=_more_info_url -->">More info...</a>
	<!-- /TMPL_IF -->
	<table class="ome_table">
		<!-- TMPL_LOOP NAME=_tile_loop -->
			<tr>
				<!-- TMPL_LOOP NAME=_obj_loop!3 -->
					<td class="ome_td" valign="top"><!-- TMPL_VAR NAME=!summary --></td>
				<!-- /TMPL_LOOP -->
			</tr>
		<!-- /TMPL_LOOP -->
	</table>
<!-- TMPL_ELSE -->
<b>(none)</b>
<!-- /TMPL_IF -->
