<!--
	This allows selection of one item from a list. The form field name needs
	to be passed in through the $options hash by the requesting code as 'field_name'
-->
<SELECT NAME="<TMPL_VAR NAME='/run_time_param/name-field_name'>"
	<TMPL_IF NAME=/run_time_param/name-submit_on_change>
	ONCHANGE="javascript: document.forms[0].submit();"
	</TMPL_IF>
>
	<OPTION  VALUE=""><TMPL_VAR NAME=/common_name>(s)
	<TMPL_LOOP NAME=/obj_loop>
		<OPTION VALUE="<TMPL_VAR NAME=id>" <TMPL_IF NAME=/default_value>selected</TMPL_IF>>
			<TMPL_VAR NAME='/name/max_text_length-20'>
		</OPTION>
	</TMPL_LOOP>
</SELECT>
