<TMPL_VAR NAME=/selector><a title="Detailed information about this Category Group" 
   href="<TMPL_VAR NAME='/obj_detail_url'>">
	<TMPL_VAR NAME='Name'>
</a><br>
<TMPL_VAR NAME='Description'><br>
Created by: <TMPL_VAR NAME='module_execution.experimenter'>
