<TMPL_IF NAME=id>
<div class="ome_category_border" >
<img src="<TMPL_VAR NAME=thumb_url>" UseMap="#Image<TMPL_VAR name=id>">
<TMPL_IF NAME=classificationName>
<br>
<A HREF="serve.pl?Page=OME::Web::ImageAnnotationTable<TMPL_VAR
NAME=linkParams>"style="<TMPL_VAR NAME=classificationColor>">
<TMPL_VAR NAME=classificationName>
</A>
</TMPL_IF>
</div>
</TMPL_IF>

