<TMPL_VAR NAME="Path.load/types-[@ImageEmbryoStage,@EmbryoStage]">
<input type="hidden" name="Template" value="<TMPL_VAR NAME=Template>">

<TMPL_VAR NAME=image/render-large>


<TMPL_VAR NAME="AnnotationDetails">
