<TMPL_VAR NAME="Path.load/types1-[@ImageProbe,@Probe,@ProbeGene,@Gene]">
<TMPL_VAR NAME="Path.load/types0-[@ImageEmbryoStage,@EmbryoStage]">
<TMPL_VAR NAME="CategoryGroup.load/id=[Test Group,53910]">
<input type="hidden" name="Template" value="<TMPL_VAR NAME=Template>">

<TMPL_VAR NAME=image/render-large_no_comments>


<TMPL_VAR NAME="AnnotationDetails">
