<TMPL_VAR NAME="Path.load=[0]ImageExperiment,Experiment.Type,ExperimentProbe,Probe.Name,ProbeGene,Gene.Name">
<TMPL_VAR NAME="Path.load=[1]ImageGeneticManipulation,GeneticManipulation.Type,Gene.Name">
<TMPL_VAR NAME="Path.load=[2]ImageCultureCondition,CultureCondition.Name">
<TMPL_VAR NAME="Path.load=[3]ImageExpressionState,ExpressionState.Name">
<TMPL_VAR NAME="Path.load=[4]ImageCellLine,CellLine.Name">
<TMPL_VAR NAME="Path.load=[5]ImageClone,Clone.Name,CloneGene,Gene.Name">

<TMPL_INCLUDE NAME="ImageAnnotationFooter.tmpl">
