<font class="ome_header_title"><TMPL_VAR NAME=name></font><ul><li><a href="<TMPL_VAR NAME=/obj_detail_url>">Metadata</a></li><li><a href="javascript:openImage(<TMPL_VAR NAME=id>);">SVG image viewer</a></li><li><a href="serve.pl?Page=OME::Web::VisBio&ImageID=<TMPL_VAR NAME=id>">View Image in VisBio</a></li></ul>