<input type="hidden" name="Template" value="<TMPL_VAR NAME=Template>">

<TMPL_VAR NAME=image/render-large_no_comments>


<TMPL_VAR NAME="AnnotationDetails">

<TMPL_IF NAME=categoryAnnotations>
<UL>
<TMPL_LOOP name=categoryAnnotations>
<LI> <TMPL_VAR name=catGroup>: <TMPL_VAR name=catValue>
</TMPL_LOOP>
</UL>
</TMPl_IF>
