<input type="hidden" name="Template" value="<TMPL_VAR NAME=Template>">

<TMPL_VAR NAME=image/render-large_no_comments>


<TMPL_VAR NAME="AnnotationDetails">

<TMPL_IF NAME="Classifications">
<TMPL_VAR NAME="Classifications">
</TMPl_IF>
