<TABLE width="100%">
<TR>
	<TD WIDTH="50">
		<img src="<TMPL_VAR NAME=thumb_url>&Size=400,400">
	</TD>
	<TD ALIGN="left" valign="top">
		ID: <TMPL_VAR NAME=id><br>
		Title: <TMPL_VAR NAME=name/max_text_length-25><br>
		Created: <TMPL_VAR NAME=created><br>
		Description: <TMPL_VAR NAME='description'><br>
	</TD>
</TR>
</TABLE>
