<map name="Image<TMPL_VAR NAME=id>">
	<area shape="rect" coords="0,0,25,25" Title="Info for <TMPL_VAR NAME=name>" href="<TMPL_VAR NAME='/obj_detail_url'>">
	<area shape="rect" coords="0,0,50,50" Title="CG Display of <TMPL_VAR NAME=name>" href="/perl2/serve.pl?Page=OME::Web::ImageAnnotationDetail&ID=<TMPL_VAR NAME=id>">
</map>
