<TMPL_VAR NAME=from_node>.<TMPL_VAR NAME=from_output> to <TMPL_VAR NAME=to_node>.<TMPL_VAR NAME=to_input>
(<a href='<TMPL_VAR NAME=/obj_detail_url>' title='Details on this Link'><TMPL_VAR NAME=id></a>)
