<table class="ome_table">
	<caption>
		<font class="ome_header_title">Module Execution: <TMPL_VAR NAME='/name'></font> 
	</caption>
	<tr>
		<td valign=top class="ome_td">ID</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="id"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Module</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="module"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Start Timestamp</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="timestamp"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Elapsed Time (R)</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="attribute_db_time"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Elapsed Time (X)</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="total_time"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Elapsed Time (W)</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="attribute_create_time"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Elapsed Time (T)</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="attribute_sort_time"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Dataset</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="dataset"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Image</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME=image/render-ref_map><TMPL_VAR NAME=image/render-map></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Experimenter</td>
		<td valign=top class="ome_td">
		<TMPL_IF NAME="/run_time_param/name-chown_experimenter">
			<TMPL_VAR NAME="/run_time_param/name-chown_experimenter"><br>
			<button type="submit">Save Changes</button>
		<TMPL_ELSE>
			<TMPL_VAR NAME="experimenter">
		</TMPL_IF>
		</td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Group</td>
		<td valign=top class="ome_td">
		<TMPL_IF NAME="/run_time_param/name-chown_group">
			<TMPL_VAR NAME="/run_time_param/name-chown_group"><br>
			<button type="submit">Save Changes</button>
		<TMPL_ELSE>
			<TMPL_VAR NAME="group">
		</TMPL_IF>
		</td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Status</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="status"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">Error Message</td>
		<td valign=top class="ome_td"><pre><TMPL_VAR NAME="error_message"></pre></td>
	</tr>
</table>
