<table class="ome_table">
	<caption>
		<font class="ome_header_title">Module Execution: <TMPL_VAR NAME='/name'></font> 
	</caption>
	<tr>
		<td valign=top class="ome_td">id</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="id"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">module</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="module"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">timestamp</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="timestamp"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">dataset</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="dataset"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">image</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="image"></td>
	</tr>
	<tr>
		<td valign=top class="ome_td">experimenter</td>
		<td valign=top class="ome_td"><TMPL_VAR NAME="experimenter"></td>
	</tr>
</table>
