<a title="<!-- TMPL_VAR NAME=/name -->" href="<!-- TMPL_VAR NAME=/obj_detail_url -->" class="ome_detail">
	<!-- TMPL_VAR NAME=/name -->
</a>
<!-- TMPL_IF NAME=image/render-ref -->
	ran against <!-- TMPL_VAR NAME=image/render-ref -->
<!-- TMPL_ELSE -->
	<!-- TMPL_IF NAME=dataset/render-ref -->
		ran against <!-- TMPL_VAR NAME=dataset/render-ref -->
	<!-- TMPL_ELSE -->
		(<!-- TMPL_VAR NAME=id -->)
	<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
