<a title="<TMPL_VAR NAME=/name> <TMPL_IF NAME=error>had an error.</TMPL_IF>" 
   href="<TMPL_VAR NAME=/obj_detail_url>" 
   <TMPL_IF NAME=error>class="ome_error"
   <TMPL_ELSE>class="ome_detail"</TMPL_IF>
>
	<TMPL_VAR NAME=/name/max_text_length-25>
</a>
<!-- This gets Search.pm to include module in the search fields.
	<TMPL_VAR NAME=module>
-->
<TMPL_IF NAME=image/render-ref>
	<br>ran against <TMPL_VAR NAME=image/render-ref_map><TMPL_VAR NAME=image/render-map><br>
<TMPL_ELSE>
	<TMPL_IF NAME=dataset/render-ref>
		<br>ran against <TMPL_VAR NAME=dataset/render-ref><br>
	<TMPL_ELSE>
		(<TMPL_VAR NAME=id>) ran<br>
	</TMPL_IF>
</TMPL_IF>
on <TMPL_VAR NAME=timestamp><br>
by <TMPL_VAR NAME=experimenter>.<br>
Its status is <TMPL_VAR NAME=status>.