<TMPL_VAR NAME=
	  "Path.load/types1-[@Gene,@ProbeGene,@Probe,@ImageProbe]">
<TMPL_VAR NAME=
	  "Path.load/types0-[@EmbryoStage,@ImageEmbryoStage]">

<Input type="hidden" name="Root" value="<TMPL_VAR NAME=Root>">
<input type="hidden" name="Template" value="<TMPL_VAR NAME=Template>">

<TMPL_VAR NAME=AnnotationDetail>
