<script src="/JavaScript/sarissa.js" type="text/javascript"></script>
<script src="/JavaScript/categories.js" type="text/javascript"></script>


<INPUT TYPE="hidden" name="update">
<INPUT TYPE="hidden" name="prevRows" value="<TMPL_VAR NAME=prevRows>">
<TMPL_VAR NAME="Path.load/types-[Gene:ProbeGene:Probe:ImageProbe,EmbryoStage:ImageEmbryoStage]">


<table>
<tr>
<td align="right">
Rows:
</td>
<td align="left">
 <SELECT NAME ="Rows">
      <option value="None">None</option>

<TMPL_LOOP NAME=Rows>
	   <option value="<TMPL_VAR NAME=rowName>" 
	   <TMPL_IF name=selectedRow>selected</TMPL_IF> >
	   	   <TMPL_VAR name=rowName>
	   </option>
</TMPL_LOOP>
   </SELECT>
</td>
</td>
<td align="right">
Column:
</td>
<td align="left">
 <SELECT NAME ="Columns">
      <option value="None">None</option>
<TMPL_LOOP NAME=Columns>
	   <option value="<TMPL_VAR NAME=columnName>" 
	   <TMPL_IF name=selectedCol>selected</TMPL_IF> >

   	   <TMPL_VAR name=columnName>
	   </option>
</TMPL_LOOP>
 </SELECT>
</td>
</tr>

<tr>
<td align="right">
Category Group: 
<td align="left">
<SELECT NAME="CategoryGroup" 
	 onchange="changeCategoryGroup(this.form.CategoryGroup)">
<option value="None">None</option>
<TMPL_VAR NAME=categoryGroups/render-list_of_options>
</SELECT>	    
</td>

<TD align="right">Category:</td>

<TD align="left">

<span id="catSelect">
 <SELECT NAME="Category" id="Category">
<option value="All">All</option>
<TMPL_VAR NAME=categories/render-list_of_options>
</SELECT>


</span>
</td>
</tr>

<td align="right">
<TMPL_VAR NAME=rowFieldName>: 
</td>
<td align="left">
<input type="text" size="10" name="<TMPL_VAR NAME=rowFieldName>" alt="Row Value"
value="<TMPL_VAR NAME=rowValue>">
</td>

<td colspan=2 align="right">
<input type="button" value='Update Display' onclick="javascript:
document.forms[0].update.value='update'; document.forms[0].submit();">
</td>
</tr>
</table>

<TMPL_IF NAME=errorMsg> 
	 <BR><br><TMPL_VAR NAME=errorMsg>
<TMPL_ELSE>

<TABLE WIDTH="100%" class="ome_annotation_table">
<!-- one column group for the row headers, specifies that it should
use only available space-->
<COLGROUP SPAN="<TMPL_VAR name=rowHeaderCount>" WIDTH="0*"/>


<THEAD>

<TMPL_LOOP NAME=columnHeaders>
<TR>

<TMPL_LOOP NAME=emptyColumnHeaders>
  <td class="ome_empty_header_border"><TMPL_VAR NAME=emptyColumnHeader></td>
</TMPL_LOOP>

<TMPL_LOOP NAME=columnNameEntries>
	   <TD COLSPAN="<TMPL_VAR NAME=columnNameSpan>"
	   class="ome_col_header_border"> 
	   <strong><TMPL_VAR NAME=columnNameEntry></strong></TD>
</TMPL_LOOP>
</TR>

</TMPL_LOOP> 

</THEAD>


<TMPL_IF NAME=cells>

<TMPL_LOOP NAME=cells>


<TR>

<TMPL_LOOP NAME=rowName>
   <TD class="ome_row_header_border" ROWSPAN="<TMPL_VAR NAME=rowNameSpan>">
       <strong><TMPL_VAR NAME=rowNameEntry></strong></TD>
</TMPL_LOOP>


<TMPL_LOOP NAME=rowCells> 
	 <TD class="ome_table_border"><TMPL_VAR NAME=cell></TD>
</TMPL_LOOP>

</TR>

</TMPL_LOOP>

</TMPL_IF>

</TABLE>

</TMPL_IF>
