<TMPL_VAR NAME="Path.load/types-[@Gene,@ProbeGeneMap,@Probe,@ImageProbe]">
<Input type="hidden" name="Root" value="<TMPL_VAR NAME=Root>">
<input type="hidden" name="Template" value="<TMPL_VAR NAME=Template>">

