<TMPL_VAR NAME=
	  "Path.load/types0-[@Gene,@ProbeGene,@Probe,@ImageProbe]">
<TMPL_VAR NAME=
	  "Path.load/types1-[@EmbryoStage,@ImageEmbryoStage]">

<input type="hidden" name="Template" value="<TMPL_VAR NAME=Template>">
<input type="hidden" name="Root" value="<TMPL_VAR NAME=Root>">

<TMPL_VAR NAME=AnnotationDetail>
