<INPUT TYPE="hidden" name="update">

<TMPL_VAR NAME="Path.load/types-[Gene:ProbeGene:Probe:ImageProbe,EmbryoStage:ImageEmbryoStage]">



Rows: <SELECT NAME ="Rows">
      <option value="None">None</option>

<TMPL_LOOP NAME=Rows>
	   <option value="<TMPL_VAR NAME=rowName>" 
	   <TMPL_IF name=selectedRow>selected</TMPL_IF> >
	   	   <TMPL_VAR name=rowName>
	   </option>
</TMPL_LOOP>
   </SELECT>

Column: <SELECT NAME ="Columns">
      <option value="None">None</option>
<TMPL_LOOP NAME=Columns>
	   <option value="<TMPL_VAR NAME=columnName>" 
	   <TMPL_IF name=selectedCol>selected</TMPL_IF> >

   	   <TMPL_VAR name=columnName>
	   </option>
</TMPL_LOOP>
 </SELECT>

<br>
Category Group: <SElECT NAME="CategoryGroup">
<option value="None">None</option>
<TMPL_VAR NAME=categoryGroups/render-list_of_options>
</SELECT>	    

Category: <SELECT NAME="Category">
<option value="All">All</option>
<TMPL_VAR NAME=categories/render-list_of_options>
</SELECT>

<input type="button" value='UpdateDisplay' onclick="javascript:
document.forms[0].update.value='update'; document.forms[0].submit();">

<TMPL_IF NAME=errorMsg> 
	 <BR><br><TMPL_VAR NAME=errorMsg>
<TMPL_ELSE>

<TABLE WIDTH="100%" class="ome_annotation_table">
<!-- one column group for the row headers, specifies that it should
use only available space-->
<COLGROUP SPAN="<TMPL_VAR name=rowHeaderCount>" WIDTH="0*"/>


<THEAD>

<TMPL_LOOP NAME=columnHeaders>
<TR>

<TMPL_LOOP NAME=emptyColumnHeaders>
  <td class="ome_empty_header_border"><TMPL_VAR NAME=emptyColumnHeader></td>
</TMPL_LOOP>

<TMPL_LOOP NAME=columnNameEntries>
	   <TD COLSPAN="<TMPL_VAR NAME=columnNameSpan>"
	   class="ome_col_header_border"> 
	   <strong><TMPL_VAR NAME=columnNameEntry></strong></TD>
</TMPL_LOOP>
</TR>

</TMPL_LOOP> 

</THEAD>


<TMPL_IF NAME=cells>

<TMPL_LOOP NAME=cells>


<TR>

<TMPL_LOOP NAME=rowName>
   <TD class="ome_row_header_border" ROWSPAN="<TMPL_VAR NAME=rowNameSpan>">
       <strong><TMPL_VAR NAME=rowNameEntry></strong></TD>
</TMPL_LOOP>


<TMPL_LOOP NAME=rowCells> 
	 <TD class="ome_table_border"><TMPL_VAR NAME=cell></TD>
</TMPL_LOOP>

</TR>

</TMPL_LOOP>

</TMPL_IF>

</TABLE>

</TMPL_IF>
