<TMPL_INCLUDE NAME="ImageAnnotationHeader.tmpl">
<TMPL_VAR NAME="Path.load/types-[Gene:ProbeGene:Probe(ImageProbe),EmbryoStage(ImageEmbryoStage)]">
<TMPL_VAR NAME="Filter.load/PublicationStatusList.Publishable:1">
<TMPL_VAR NAME="DefaultRow.load/Key=Gene">
<TMPL_VAR NAME="DefaultColumn.load/Key=EmbryoStage">
<TMPL_INCLUDE NAME="ImageAnnotationFooter.tmpl">
