<a href='<TMPL_VAR NAME="/obj_detail_url">' title='Detailed Information about this Pixels attribute' class='ome_detail'><TMPL_VAR NAME="NumOfHorizontalTiles"> x <TMPL_VAR NAME="NumOfVerticalTiles"></a>