<font class="ome_header_title">AnalysisChainExecution (ID <TMPL_VAR Name='id'>)</font> 
<p class="ome_detail_text">
	Analysis Chain <TMPL_VAR NAME=analysis_chain>
	was executed against Dataset <TMPL_VAR NAME=dataset>
	on <TMPL_VAR NAME=timestamp>
	by <TMPL_VAR NAME=experimenter>. 
	<TMPL_IF NAME=num_errors>It had <b><TMPL_VAR NAME=num_errors> Errors</b></TMPL_IF>
</p>
<p>
<font class="ome_relation_title">
	Here are the Nodes that compose this chain. Click on one to see all of its executions.
</font>
<TMPL_VAR NAME=breakdown_by_node>
</p>
<!--
<p>
	<font class="ome_relation_title">Here are the executions of those nodes.</font>
	<TMPL_VAR NAME=node_executions/render-ref_list>
</p>
-->
