<a title="<TMPL_VAR NAME=analysis_chain.name> executed on <TMPL_VAR NAME=timestamp><TMPL_IF NAME=num_errors> had <TMPL_VAR NAME=num_errors> Errors.</TMPL_IF>" 
   href="<TMPL_VAR NAME=/obj_detail_url>" 
   <TMPL_VAR NAME=class_style>
>
	<TMPL_VAR NAME=/name>
</a>