<a title="<TMPL_VAR NAME=analysis_chain/field-name> executed on <TMPL_VAR NAME=timestamp>" href="<TMPL_VAR NAME=/obj_detail_url>" class="ome_detail">
	<TMPL_VAR NAME=/name>
<TMPL_IF NAME=num_errors><i>(has Errors)</i></TMPL_IF>
</a>
