Analysis chain <a title="<TMPL_VAR NAME=/name>" href="<TMPL_VAR NAME=/obj_detail_url>" class="ome_punchline">
	<TMPL_VAR NAME=/name/max_text_length-25></a>
was executed against dataset <TMPL_VAR NAME=dataset/render-ref>
on <TMPL_VAR NAME=timestamp>
by <TMPL_VAR NAME=experimenter>. 
The ID is <TMPL_VAR NAME=id>.
<TMPL_IF NAME=num_errors>It had <b><TMPL_VAR NAME=num_errors> Errors</b></TMPL_IF>