Analysis chain 
<a title="<TMPL_VAR NAME=/name><TMPL_IF NAME=num_errors> had <TMPL_VAR NAME=num_errors> Errors.</TMPL_IF>" 
   href="<TMPL_VAR NAME=/obj_detail_url>" 
   <TMPL_IF NAME=num_errors>class="ome_error"
   <TMPL_ELSE>class="ome_punchline"</TMPL_IF>
>
	<TMPL_VAR NAME=/name/max_text_length-25></a>
was executed against dataset <TMPL_VAR NAME=dataset/render-ref>
on <TMPL_VAR NAME=timestamp>
by <TMPL_VAR NAME=experimenter>. 
The ID is <TMPL_VAR NAME=id>.